<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwO27pjmMYR4Cy1U7kjHq7Yz1DqaU_DQg</string>
	<key>GCM_SENDER_ID</key>
	<string>699914462747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prismatics</string>
	<key>PROJECT_ID</key>
	<string>prismatics-62cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>prismatics-62cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699914462747:ios:033aa4c922adf3bb53fabe</string>
</dict>
</plist>